<h1>My Albums</h1>


<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @album.each do |album| %>
    <tr>
      <%if user_signed_in?%>
      <td><%= image_tag album.cover.url(:medium) %></td>
      <td><%= album.title %></td>
      <td><%= link_to 'Show', album_path(album) %></td>
      <td><%= link_to 'Edit', edit_album_path(album) %></td>
      <td><%= link_to 'Destroy', album_path(album),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <%else%>
      <td><%= image_tag album.cover.url(:medium) %></td>
      <td><%= album.title %></td>
      <%end%>
    </tr>
  <% end %>
</table>