<p>
  <%= image_tag @album.cover.url(:medium)  %>	
  <strong>Title:</strong>
  <%= @album.title %>
  <%= link_to 'Create New Picture',new_album_picture_path(@album)%><br>

  <% @pictures.each do |picture| %>
    <table>
      <tr>
        <td><%= image_tag picture.image.url(:thumb) %></td>
        <td><% picture.tag_list.each do |tag| %>
              <%= tag %>
              <%= link_to 'X',remove_tag_album_picture_path(@album, picture, tag: tag),method: :delete %>
              <br>
            <% end %>
        </td>
        <td><%= link_to 'Destroy', album_picture_path(@album, picture),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <tr>
        <td>
          <%picture.comments.each do |comment|%>
          <%=comment.comment%><br>
          <% end %>
        </td>
      </tr>
    </table>
    
    <%= form_with scope: :comment, url: album_picture_comments_path(@album ,picture), local: true do |form| %>
      <p>
        <%= form.text_field :comment %>
         <%= submit_tag("comment") %>
      </p>
    <% end %>
  <% end %>

  <%= paginate @pictures %>
  <%= link_to 'Back',albums_path(@album)%>
 
</p>


